.main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
    padding-left: 5%;
    margin-top: 5%;
}

.main1 {
    width: 27%;
    padding: 10px;
    margin-right: 6%;
    margin-bottom: 5%;
    cursor: pointer;
    text-decoration: none;
}
.main1:hover {
    -webkit-box-shadow: 0px 0px 41px -2px rgba(235, 235, 235, 1);
    -moz-box-shadow: 0px 0px 41px -2px rgba(235, 235, 235, 1);
    box-shadow: 0px 0px 41px -2px rgba(235, 235, 235, 1);
    border: 1px solid rgb(215, 215, 215);
}

.main1,
.main1 img,
.rev {
    border-radius: 20px;
}

.main1 img {
    width: 100%;
    max-height: 30vh;
}

.name {
    font-size: 1.3em;
    font-weight: 600;
    color: black;
}

.d1,
.d2,
.d3 {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}
.rev{
    background-color: green;
    color: white;
    padding: 5px;
    font-weight: 900;
    font-size: 1.1em;
}

.des{
    color: rgb(100, 100, 100);
    font-weight: 600;
    font-size: 1.2em;
}
.loc{
    color: rgb(158, 158, 158);
    font-size: 1.2em;
}